<nav id="mainNav" class="navbar fixed-top navbar-expand-lg navbar-dark {{ include.class }}">
  <a class="navbar-brand ps-3" href="{{ site.url }}">{{ site.name }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavigationBar" aria-controls="mainNavigationBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="mainNavigationBar">
    <div class="navbar-nav">
      {{ include.content }}
    </div>
  </div>
</nav>
