#about {
  overflow-x: hidden;
  img {
    width: 100;
  }
}

#stats {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  // background-color: darken(white, 75%);
  // color: lighten(black, 75%);
  // color: white;
  i {
    font-size: 5rem;
  }
}

#quotes {
  height: 50%;
  #quotesCarousel {
    height: 100%;
  }
}

#contact {
  span {
    animation: blink 1s infinite;
  }
  p {
    font-size: 1.25em;
  }
  i {
    font-size: 2.25em;
  }
}

#certifications {
  p {
    font-size: 1.25rem;
  }
}

.background-cover {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: height 0.15s ease;
}

.emphasis-anim:hover {
  height: 190px;
}
