---
---
@import 'bootstrap_overrides';
@import 'variables';
@import 'masthead';
@import 'animations';
@import 'body';
@import 'post';
@import 'monokai';

html, body {
  font-family: "Roboto" !important;
  height: 100%;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}
