---
layout: default
---
{% capture navlinks %}
  <a class="nav-item nav-link" href="{{ site.url}}#masthead">Home</a>
  <a class="nav-item nav-link" href="{{ site.url}}#about">About</a>
  <a class="nav-item nav-link" href="{{ site.url}}#stats">Track Record</a>
  <a class="nav-item nav-link" href="{{ site.url}}#contact">Contact</a>
  <a class="nav-item nav-link" href="{{ '/blog' | absolute_url }}">Blog</a>
  <a class="nav-item nav-link active" href="{{ '/projects' | absolute_url }}">Projects</a>
{% endcapture %}
{% include navbar.html content=navlinks %}

<div style="height: 35%;" class="container-fluid p-0 bg-dark">
  <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('{{ page.img }}');" class="postmast h-100"></div>
  <div class="row h-100 text-white text-center g-0">
    <div class="col-xs-12 col-md-6 offset-md-3 text-center align-self-center pt-5">
      <h1>{{ page.title }}</h1>
      <hr class="hr-white" />
      <h2>{{ page.description }}</h2>
    </div>
  </div>
  <div class="row g-0 pt-5 post-container">
    <div class="col-12">

    </div>
    <div class="col-9 m-auto post-body">
      {{ page.content }}
    </div>
  </div>
</div>
